<%- include('../../partials/header') -%>
<%- include('../../partials/navbar') -%>
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Cadastrar</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Títulos</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(categorie => { %>
                <tr>
                    <th><%= categorie.id %></th>
                    <th><%= categorie.title %></th>
                    <th><%= categorie.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <form method="POST" action="/categories/delete" style="display: inline;">
                            <input type="hidden" name="id" value="<%=categorie.id%>" >                            
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer') -%>